body {
    font-size: 1.2em;
}
form {
    width: 50%;
    margin: 0 auto;
    display: grid;  
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}
button {
    grid-column: 3/4;
    grid-row: 4/5;
}
#cardFront {
    padding: 20px;
    background-color: #d3d3d3;
    display: grid;  
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
}
#total {
    grid-column: 1/2;
    grid-row: 1/2;
}
#emoji {
    grid-column: 2/3;
    grid-row: 1/2;
}
#creditCardLabel{
    grid-column: 1/2;
    grid-row: 2/3;
}
#cardHolder {
    grid-column: 1/2;
    grid-row: 3/4;
}
#cardExpiration {
    grid-column: 2/3;
    grid-row: 3/4;
}
#cardBack {
    background-color: #d3d3d3;
    display: grid;  
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: 1fr .5fr 1fr;
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
}
#blackBorder {
    background-color: black;
    max-height: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
}
#CVC {
    grid-column: 2/3;
    grid-row: 3/4;
}

label {
    display: block;
    margin-bottom: 8px;
  }

input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 0.5px;
  }
button {
    background-color: #efefef;
    padding: 10px 15px;
    border-radius: 0.5px;
    cursor: pointer;
  }
.errors {
    white-space: pre-line; /*needed for 2 errors to be on separate lines*/
    color: red;
  }

