#content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}
hr { border: 1px solid lightgray;
    
}

img {
    display: block;
    width: 150px;
    margin: auto;
    padding-top: 30px;
    

}
h1 {
    text-align: center;
    font-size: 50px;
}
h6 {
    text-align: center;
    color :blue ;
    font-size: medium;
    margin-bottom: -7px;
    
}
li {
    margin: 15px ;
    
}

#i {
    font-style: italic;
}