
header {
    background-color: rgb(42, 129, 226);
    

}
section{
    display: flex;
    justify-content: center;
}
body {
    background-color: rgb(204, 204, 204);
    margin: 0; 

}
h1{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 3em;
}
button {
    background-color: rgb(42, 129, 226);
    border: none;
    color: white;
    margin: 10px;
    font-size: 2em;
    cursor: pointer;
    
}
nav a { 
    color: white;
    padding: 20px;
    display:none ;
    
}

p {
    font-size: 30px;
    text-align: center;
    font-size: 3em;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: solid 3px white ;
  box-shadow: 5px 5px 20px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  
  
}
h5 {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

footer {
    background-color: rgb(42, 129, 226);
    min-height: 2em;
}


@media (min-width: 700px){
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        margin: 30px;
        margin-left: 5em;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    nav a{
        display: inline-block;
       padding-bottom: 0.5em;
    }
    nav{
        display: flex;
        justify-content: center;
        
    }
    button {
        display: none;
    }
    }
@media (min-width: 1000px){
    div {
        grid-template-columns: 1fr 1fr 1fr;
    }
    img {
        margin: 30px;
    }
}