
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  
}
header, main, footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
  
}
main {
     display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
    
   

}
nav a {
    padding: 20px;
    color: black;
    display: none;

}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
}

nav.active a {
    display: block; 
    text-align: center;
    text-decoration: underline !important;
    text-decoration-color: black !important;
    text-underline-offset: 5px;
    text-decoration-thickness: 10px;
}

          
@media screen and (min-width: 728px) {

    section {
         max-width: 30%;
         display: inline;
        
        }
    nav a {
        display: inline-block;
        margin-left: auto;
    }
    button {
        display: none;
    }
    nav {
        text-align: right;
    }


}

@media screen and (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: space-around;
    }
    nav a {
        display: inline-block;
        margin-left: auto;
    }
    button {
        display: none;
    }
    section {
        flex: 1;
        max-width: 30%;
    }
    nav {
        text-align: right;
    }

}