#content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid darkgray;
    padding-bottom: 80px;
    padding-top: 60px;
}
body {
    text-align: center;
    background-color: #ddd;
}
li {
    list-style: none;
}

hr {
    border:  2px solid #035f9c;
    width: 58%;
}
.list {
    text-align: left;
    margin: auto;
    width: 350px;
}
img {
    width: 350px;
}
p {
    font-weight: bold;
    color: #035f9c;
}