body {
    font-family: Arial, sans-serif;
}

.pic {
    text-align: left;
    
}
.pic img {
    margin-left: 100px;
}
.pic p {
    text-align: left;
    text-indent: 0;
}

#block{ 
    border-bottom: 5px solid rgb(245, 224, 202);
    padding: 46px;
    margin-bottom: 40px;
    
}

p {
    text-align: right ; 
    padding-right: 30px;
}
h1{
    color: #412d3e;
}
h2 {
    color: rgb(167, 28, 28);

}
nav a {
    color: rgb(178, 11, 11);
    text-decoration: none;
    
}
nav {
    border-bottom: 5px solid rgb(245, 224, 202);
    border-top: 5px solid rgb(245, 224, 202);
    padding: 15px;
    margin-bottom: 20px;
    text-align: right;
    display: flex; gap: 50px;
    justify-content: right;
}
footer {
    border-top: 5px solid rgb(245, 224, 202);
    text-align: center;
    padding: 15px;
    font-weight: 600;
}





@media (min-width: 600px) {
   article {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr .5fr 1fr .5fr;
    grid-template-rows: .5fr .5fr .5fr .5fr 2fr 1fr;
    padding-bottom: 50px;
   }
   h2 {
    grid-column: 3/6;
    grid-row: 2/3;
    margin-left: 25px;
   }
   #p1 {
    grid-column: 2/3;
    grid-row: 2/3; 
   }
   #p2 {
    grid-column: 2/3;
    grid-row: 3/4; 
   }
   #p3 {
    grid-column: 2/3;
    grid-row: 4/5; 
   }
   #p4 {
    grid-column: 2/3;
    grid-row: 5/6; 
   }
   img {
    grid-column: 4/6;
    grid-row: 3/6;
    text-align: right;
   }
   #desc {
    grid-column: 3/6;
    grid-row: 6/7;
    text-align: left;
    margin-left: 25px;
   }
   #line {
    grid-column: 3/3;
    grid-row: 1/7;
    border-left: 5px solid rgb(245, 224, 202); 
    margin-top:20px;
    margin-bottom: 20px;
   }

}